.navbar {
  display: flex;
  justify-content: space-between; /* Change from space-around to space-between */
  align-items: center; /* Align items vertically at the center */
  padding: 16px;
  background-color: #f8f8f8;
  box-shadow: 0 6px 12px rgba(255, 65, 97, 0.5);
  width: 100%; /* Ensure the navbar spans the entire width */
  position: fixed; /* Add this line to make the navbar fixed */
  top: 0; /* Add this line to position the navbar at the top */
  left: 0; /* Add this line to ensure the navbar is aligned to the left */
  z-index: 1000; /* Add this line to ensure the navbar stays on top of other content */
  height: 95px;
}

.nav-logo {
  display: flex;
  align-items: center; /* Align items vertically at the center */
  gap: 10px;
  cursor: pointer;
}

.nav-logo p {
  color: #e6738e;
  font-size: 38px;
  font-weight: 600;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  color: #e6738e;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.nav-login-cart button {
  width: 100px;
  height: 38px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #ff4141;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:hover {
  background: #daaaaa;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-left: -20px;
  border-radius: 11px;
  font-size: 14px;
  background: #7a7a7a;
  color: white;
}

.nav-login-cart .fa-shopping-cart {
  font-size: 24px; /* Increase icon size */
  color: #ff4141; /* Set color to #ff4141 */
}
